<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CariMakan</title>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="favicon.png"/>
    <meta name="theme-color" content="#7371fc"/>
    <link rel="apple-touch-icon" href="/icons/icon-256x256.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <nav id="drawer" class="nav">
        <h1 class="nav-title">
            CariMakan.id
        </h1>
        <button class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
        <ul class="nav-list">
            <li class="nav-item"><a href="#/">Home</a></li>
            <li class="nav-item"><a href="#/favourite">Favorite</a></li>
            <li class="nav-item"><a href="https://github.com/altf4m88">About Us</a></li>
        </ul>
    </nav>

    <main id="main-content">

    </main>  
    
    <footer>
        Copyright © 2021 - CariMakan
    </footer>

</body>
</html>